:root {
    --main-color: #DD2F6E;
    --color-dark: #1D2231;
    --text-gray: #8930A2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
}

.sidebar_brand {
    height: 90px;
    padding: 2rem;
    color: #fff;
}

.sidebar:hover {
    width: 345px;
    z-index: 100;
}

.sidebar:hover li,
.sidebar:hover .sidebar_brand {
    padding-left: 1rem;
}

.sidebar:hover li a i:last-child,
.sidebar:hover .sidebar_brand h2 span:last-child {
    display: inline;
}











.sidebar_brand i {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar_menu li {
    width: 100%;
    margin-bottom: 1.3rem;
}

.sidebar_menu li a {
    display: block;
    color: #fff;
    font-size: 1.1rem;
    padding-left: 1rem;
}

.sidebar_menu li a i {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.sidebar_menu li a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.main_content {
    margin-left: 345px;
    transition: margin-left 300ms;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    background: #fff;
    z-index: 100;
    transition: left 300ms;
}

header h2 {
    color: #222;
}

header label i {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search_wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.search_wrapper i {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.search_wrapper input {
    height: 100%;
    padding: .4rem;
    border: none;
    outline: none;

}

.user_wrapper {
    display: flex;
    align-items: center;
}

.user_wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user_wrapper small {
    display: inline-block;
    color: var(--text-gray);
    margin-top: -3px !important;
}

main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f2f5f9;
    min-height: calc(100vh - 85px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.cards .card_single {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 2px;
    transition: all .3s ease-in;
}

.card_single i+h1 {
    color: var(--text-gray);

}

.card_single span {
    color: var(--text-gray);
}

.card_single i {
    font-size: 3rem;
    color: var(--main-color);
}

.card_single:hover {
    background: var(--main-color);
}

.card_single:hover span,
.card_single:hover h1,
.card_single:hover i {
    color: white;
}

.recent_grid {
    display: grid;
    grid-template-columns: 70% auto;
    margin-top: 3.5rem;
    grid-gap: 2rem;
}

#nav_toggle {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.card {
    background: #fff;
    border-radius: 5px;
}

.card_header,
.card_body {
    padding: 1rem;
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_header button {
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
    font-size: .8rem;
    cursor: pointer;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;

}

thead td {

    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;

}

td .status {
    height: 10px;
    display: inline-block;
    width: 10px;
    border-radius: 20px;
    margin-right: 1rem;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

.status.purple {
    background: purple;
}

.status.pink {
    background: rgb(255, 145, 20);
}

.status.orange {
    background: rgb(255, 0, 0);
}

.table_responsive {
    overflow: hidden;
    width: 100%;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.info {
    display: flex;
    align-items: center;
}

.info img {
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4 {
    font-size: .8rem;
    font-weight: 700;
    color: #333;
}

.info small {
    font-weight: 600;
    color: var(--text-gray);
}

.contact i {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
    color: var(--main-color);
}

#nav_toggle:checked+.sidebar {
    width: 70px;
}

#nav_toggle:checked+.sidebar .sidebar_brand h2 span:last-child,
#nav_toggle:checked+.sidebar li a span:last-child {
    display: none;
}

#nav_toggle:checked+.sidebar .sidebar_brand,
#nav_toggle:checked+.sidebar li {
    padding-left: 1rem;
}

#nav_toggle:checked+.sidebar li a {
    padding-left: 1rem;
}

#nav_toggle:checked+.sidebar li a span {
    padding-right: 1rem;
}

#nav_toggle:checked~.main_content {
    margin-left: 70px;
}

#nav_toggle:checked~.main_content header {
    width: calc(100% - 70px);
    left: 70px;
}

@media only screen and (max-width:1200px) {


    .sidebar {
        width: 70px;
    }

    .sidebar .sidebar_brand h2 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }

    .sidebar .sidebar_brand,
    .sidebar li {
        padding-left: 1rem;
    }

    .sidebar li a {
        padding-left: 0rem;
    }

    .sidebar li a span {
        padding-right: 1rem;
    }

    .main_content {
        margin-left: 70px;
    }

    .main_content header {
        width: calc(100% - 70px);
        left: 70px;
    }

}

@media only screen and (max-width:960px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .recent_grid {
        grid-template-columns: 60% 40%;
    }
}

@media only screen and (max-width:768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent_grid {
        grid-template-columns: 100%;
    }

    .search_wrapper {
        display: none;
    }

    .sidebar {
        left: -100% !important;
    }

    header h1 label {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        background: var(--main-color);
        width: 40px;
        padding-left: 1rem;
        color: #fff;
        border-radius: 30px;

    }

    header {
        width: 100% !important;
        left: 0 !important;
    }

    .main_content {
        width: 100%;
        margin-left: 0;
    }

    header h1 {
        font-size: 1.1rem;
    }

    #nav_toggle:checked+.sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }

    #nav_toggle:checked+sidebar:hover {
        width: 345px;
        z-index: 200;
    }



    #nav_toggle:checked+.sidebar .sidebar_brand,
    #nav_toggle:checked+.sidebar li {
        padding-left: 2rem;
        text-align: left;
    }

    #nav_toggle:checked+.sidebar li a {
        padding-left: 1rem;
    }


    #nav_toggle:checked+.sidebar .sidebar_brand h2 span:last-child,
    #nav_toggle:checked+.sidebar li a span:last-child {
       display: inline;
    }
}

@media only screen and (max-width:560px) {
    .cards {
        grid-template-columns: 100%;
    }
}